<div class="card" style="margin-top: 80px;">
    <div class="card-head d-flex justify-content-center">

      <div id="carouselExampleFade" class="carousel slide col-md-6" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let image of carImages; index as i; first as firstImage" class="carousel-item" [ngClass]="{ active: firstImage }" data-bs-interval="2000">
            <img [src]="apiUrl + image.imagePath" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="card-body">
      <div *ngIf="!isRentable()" class="d-grid gap-2 col-6 mx-auto">
        <button disabled type="button" class="btn btn-danger btn-lg">Not Available</button>
      </div>
      <div *ngIf="isRentable()" class="container col-md-6">
        <form [formGroup]="rentalAddForm">
          <div class="input-group d-flex justify-content-center">
            <div class="mb-3">
              <label for="rentDateInput" class="form-label">Rent Date</label>
              <input formControlName="rentDate" type="date" min="{{ getDate(1) }}" class="form-control" id="rentDateInput">
            </div>
            <div class="mb-3" style="margin-left: 10px;">
              <label for="returnDateInput" class="form-label">Return Date</label>
              <input formControlName="returnDate" type="date" min="{{ getDate(2) }}" class="form-control" id="returnDateInput">
            </div>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button (click)="rent()" type="button" class="btn btn-primary btn-lg">RENT</button>
          </div>
        </form>
      </div>
      <h3 class="card-title">{{ car?.carName }}</h3>
      <h4>{{ car?.dailyPrice }} #</h4>
      <p class="card-text text-secondary">{{ car?.description }}</p>
      <span class="text-secondary fw-bold fs-6">({{ car?.brandName }} / {{ car?.modelYear }} / {{ car?.colorName }})</span>
    </div>
  </div>
  <!-- <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Product Reviews
    </div>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
      <hr>
      <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
  </div> -->