.carousel-inner .carousel-item img{
    height: 400px; 
    width: 700px; 
    object-fit: contain;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}