<div class="row">
    <div *ngFor="let car of cars | filter:filterText" class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://localhost:44348/{{ car.imagePaths[0] }}" class="img-thumbnail" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ car.carName }}</h5>
            <h6 class="card-subtitle mb-2">{{ car.dailyPrice }} <span class="text-muted">({{ car.modelYear }})</span></h6>
            <p class="card-text">{{ car.description }}</p>
            <a routerLink="/cars/{{ car.id }}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
</div>