<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(75, 75, 75); height: 73px;" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">List</a>
        </li>
      </ul>
      
      <form [formGroup] = "searchForm">
        <div class="input-group">
          <input formControlName="searchText" class="form-control" type="text" placeholder="Search" aria-label="Search">
          <button (click)="search()" class="btn btn-secondary" type="button">Search</button>
        </div>
      </form>

      <div *ngIf="!isAuthenticated()" class="text-end" style="margin-left: 10px; margin-right: 10px;">
        <button routerLink="/login" type="button" class="btn btn-outline-primary me-2">Login</button>
        <button routerLink="/register" type="button" class="btn btn-outline-warning">Sign-up</button>
      </div>

      <div *ngIf="isAuthenticated()" class="dropdown dropstart" style="margin-left: 10px; margin-right: 10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{ getCurrentUser().firstName }} {{ getCurrentUser().lastName }}</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()" style="background-color: rgba(255, 0, 0, 0.705);">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list">List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" [formGroup] = "searchForm">
          <input class="form-control me-2" type="text" formControlName="searchText" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" (click)="search()">Search</button>
        </form>
      </div>
    </div>
  </nav> -->